@model List<CartModel>

@{ 
    var GrandTotal = 0;
    var GrandDiscount = 0;
}
<style>
    .cartListImageDiv{
        max-height:11rem;
        max-width:6rem;
    }
    .productName, .productSaler {
        line-height: 18px;
    }
    .productSaler{
        font-size:1rem;
        color:dimgray;
    }

    .productQuantity{
        line-height:18px;
    }

    .wdtotal{
        color:darkgray;
    }

    .cartDiscount{
        font-size:15px;
        opacity:0.8;
    }
    .placeOrderButton{
        background-color:darkorange;
        border-color:darkorange;
        border-radius:unset;
        margin-bottom:1rem;
       
    }
    .sidebarTextSize{
        font-size:10px;
    }
</style>

    @if (TempData["IsRemoved"] != null) {
        if (TempData["IsRemoved"].ToString()=="True") {
            <script>
                swal("Removed.!", "Product removed from cart successfully", "success");
            </script>
        }
        else
        {
            <script>
                swal("Error.!", "Product does not removed from cart..!", "info");
            </script>
        }
    }



@if(Model.Count == 0)
{
    <div class="card container">
        <div class="card-body">
        <h3>My cart</h3>

            <div class="row">
                <div class="col-4 offset-4 ">

                    <img src="/svgs/Empty-amico.svg"  alt="Alternate Text" />
                </div>
                <div class="text-center">
                    <h3>Your cart is empty..!</h3>
                    <p>Start exploring item..!</p>
                </div>
            </div>
        </div>
    </div>
    
}else
{ 
    <div class="container">
        <div class="row flex-row ">
            <div class="col-md-8 order-2 order-lg-1 ">
                <div class="card">
                    <div class="card-header bg-white flex-row">
                        <h4 class="d-inline-block">Cart items(@Model.Count)</h4>
                        <a  asp-controller="Home" asp-action="Index" class="text-secondary fw-bold float-end text-decoration-none pl-2"> Go To Home</a>
                    </div>
                    <div class="card-body">

                        @foreach (var item in Model)
                        {
                            // TODO: Working on opacity while insufficient stock
                            <div class="mb-2 row border p-2 @(item.Quantity > item.ProductStock ? "opacity-50 ":"not match" )" data-bs-toggle="tooltip" data-bs-placement="left" title="asd">
                                <div class="col-3 col-sm-3 col-md-3 col-lg-2">

                                    <div class="cartListImageDiv border p-2">
                                        <img class="img-fluid cartImage" src="@item.ProductCoverImageUrl" alt="Alternate Text" />
                                    </div>
                                </div>

                                @*7 in*@
                                <div class="col-7">
                                    <p class="fs-5 productName">
                                        @item.ProductName
                                    </p>

                                    <p class="opacity-100 text-danger">
                                        @(item.Quantity > item.ProductStock ?"This product is out of stock stock..! so remove it or proceed without it.! " :"")
                                    </p>
                                    <p class="productSaler">Saler name: @item.ProductSaler  @item.ProductStock @item.Quantity</p>

                                    @{


                                        @if (item.ProductStock > item.Quantity)
                                        {

                                            GrandTotal +=(int)item.TotalPrice;
                                            GrandDiscount += (int)item.TotalDiscount;
                                        }

                                        <div>
                                            @*<p>Discount :: @item.TotalDiscount   TOTAL :: @item.TotalPrice</p>*@
                                            <span class="fw-bold  me-1">₹@item.DiscountedPrice</span> <span class="wdtotal"><strike> ₹@item.TotalPrice</strike></span> <span class="cartDiscount fw-bold text-success">@item.ProductDiscount% off</span>
                                        </div>
                                    }

                                    <div class="mt-2">

                                        <span class="fw-bold productQuantity me-2">Quantity: @item.Quantity</span>
                                        <a class="fs-6 text-uppercase text-decoration-none " asp-controller="ProductRelated" asp-action="RemoveFromCart" asp-route-cartId="@item.Id">Remove</a>
                                    </div>
                                </div>
                                @*3 in*@
                                <div class="col-3">
                                    @{
                                        var currentDate = DateTime.Now;
                                        //item.Date = item.Date.AddDays();
                                        var difference = currentDate - item.Date;

                                            @*<p>
                                                @difference.Days
                                                @item.Date
                                                @item.Date.DayOfWeek
                                            </p>*@
                                        <p class="text-secondary text-center">
                                            @if (difference.Days > 7)
                                            {
                                                
                                                @item.Date.ToString("dd MMM yyyy")

                                            }
                                            else
                                            {

                                                @item.Date.DayOfWeek
                                            }
                                        </p>
                                    }
                                
                                </div>

                            </div>
                   

                        }
                    </div>

    @*                <div class="card-footer d-flex">
                        <h4 class="me-auto">Cart footer</h4>
                        <button class="btn btn-primary -end">
                            Place Order
                        </button>
                    </div>*@
                </div>
            </div>

    @*        <div class="col-md-4 ">*@
            <div class="col-lg-4 col-md-8 order-1 order-lg-2 mb-3">
                <div class="border rounded">
                    <h4 class="p-2 text-uppercase text-secondary mt-2">Price Details</h4>
                    <hr />
                    <div class="px-5 mb-3 ">
                        <span class="me-auto ">
                            Price Details (@Model.Count)
                        </span> 
                        <span class="float-end  ">
                            ₹ @GrandTotal

                        </span>
                    
                    </div>
                    <div class="px-5 mb-3">
                        <span class="me-auto">
                            Total savings 
                        </span> 
                        <span class="float-end text-success">
                            - ₹ @GrandDiscount

                        </span>
                    
                    </div>
                    <div>

                        <hr style="border: 1px dashed #C0C0C0" class="mx-3"/>
                            <div class="px-5">

                                <span class="fw-bold">Total Amount</span>
                                <span class="fw-bold float-end">@((GrandTotal-GrandDiscount).ToString("c"))</span>
                            </div>
                        <hr style="border: 1px dashed #C0C0C0" class="mx-3"/>

                        <div class="row px-4" >
                            <a class="btn btn-danger text-uppercase fw-bold d-block placeOrderButton" asp-controller="ProductRelated" asp-action="PlaceOrder">Place your order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

